**Agenda**

- Data type conversions
- Missing values
- Duplicates
- Fuzzy Matching
- Outliers
- Binning

### **Import libraries**

In [ ]:
import pandas as pd

### **Read dataset**

In [ ]:
url = "https://docs.google.com/spreadsheets/d/1shAV45egx8eGlgey2eAC6zjMtnY82VJlPcyrVzUDlTI/export?format=csv"

In [ ]:
data = pd.read_csv(url)

In [ ]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
0,141234.0,iPhone,1.0,700.00,01/22/19 21:25,944 Walnut St,Boston,MA,2215.0
1,141235.0,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,185 Maple St,Portland,OR,97035.0
2,141236.0,Wired Headphones,2.0,11.99,01/17/19 13:33,538 Adams St,San Francisco,CA,94016.0
3,141237.0,27in FHD Monitor,1.0,149.99,01/05/19 20:33,738 10th St,Los Angeles,CA,90001.0
4,141238.0,Wired Headphones,1.0,11.99,01/25/19 11:59,387 10th St,Austin,TX,73301.0

## **Data Cleaning**

### **Data Type Converstions**

In [ ]:
data.dtypes

Order ID            float64
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Street               object
City                 object
State                object
Zip Code            float64
dtype: object

Two functions for type conversions

- To numeric
  - (null or some text => NAN)
  - convert it into float

- Astype
  - convert the column into any datatype
  - limitation: it will throw error over the NULL values

- to date_time
  - coverts into date data types

Astype will return error on given column values
```
Order ID
"123"
"345"
"OFF-1234"
"567"
```
While, to_numeric will convert the values in to float and will convert the text data into NULL without throwing any error.

```
Order ID
123.0
345.0
NULL
567.0
``

In [ ]:
#Assume order ID is in object

#astype
data["Order ID"].astype(float)

# when you are converting something into object/ or any other data type
# when you don't have any missing value in your columns

0         141234.0
1         141235.0
2         141236.0
3         141237.0
4         141238.0
            ...
185970    319666.0
185971    319667.0
185972    319668.0
185973    319669.0
185974    319670.0
Name: Order ID, Length: 185975, dtype: float64

In [ ]:
#object=> numerical
pd.to_numeric(data["Order ID"],errors="coerce")

# "text" in your column will be converted to NULL
# Will never throw error on missing or NULL values

0         141234.0
1         141235.0
2         141236.0
3         141237.0
4         141238.0
            ...
185970    319666.0
185971    319667.0
185972    319668.0
185973    319669.0
185974    319670.0
Name: Order ID, Length: 185975, dtype: float64

In [ ]:
data.dtypes

Order ID            float64
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Street               object
City                 object
State                object
Zip Code            float64
dtype: object

In [ ]:
data["Order Date"].head(3)

0    01/22/19 21:25
1    01/28/19 14:15
2    01/17/19 13:33
Name: Order Date, dtype: object

In [ ]:
2019/22/03 => datetime

"%y/%d/%m"

1. %y => we can have 1,2,3,4 values for
2. No, changes are only saved in your dataframe (to_csv)

In [ ]:
# # 1st
# column =
# # 2nd way
# inplace=True

In [ ]:
# "25-August-21", format="%d-%B-%y"

# -exception handling

In [ ]:
data["Order Date"] = pd.to_datetime(data["Order Date"], format="%m/%d/%y %H:%M", errors="coerce")

In [ ]:
data["Order Date"]

0        2019-01-22 21:25:00
1        2019-01-28 14:15:00
2        2019-01-17 13:33:00
3        2019-01-05 20:33:00
4        2019-01-25 11:59:00
                 ...
185970   2019-12-11 20:58:00
185971   2019-12-01 12:01:00
185972   2019-12-09 06:43:00
185973   2019-12-03 10:39:00
185974   2019-12-21 21:45:00
Name: Order Date, Length: 185975, dtype: datetime64[ns]

In [ ]:
data.dtypes

Order ID                   float64
Product                     object
Quantity Ordered           float64
Price Each                 float64
Order Date          datetime64[ns]
Street                      object
City                        object
State                       object
Zip Code                   float64
dtype: object

### **Duplicate values**

data load > duplicates check => view() to know whether you have to remove it or keep it


- Remove
    - When you are confirmed, that data is duplicated even the primary key value is duplicated
    - Keep first when you need the old entries
    - Keep last when you need the recent data
    

- Keep /Don't remove
    - when you are not sure about the context or you don't have primary key

- Impute
    - When you are sure that the duplicated value is error
    - Impute it with placeholder or research about it

#### **Handle Duplicates**

In [ ]:
data.duplicated().sum()

np.int64(289)

In [ ]:
#conditional statement

data[data.duplicated()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
872,142071.0,AA Batteries (4-pack),1.0,3.84,2019-01-17 23:02:00,131 2nd St,Boston,MA,2215.0
4106,145143.0,Lightning Charging Cable,1.0,14.95,2019-01-06 03:01:00,182 Jefferson St,San Francisco,CA,94016.0
5785,146765.0,Google Phone,1.0,600.00,2019-01-21 11:23:00,918 Highland St,New York City,NY,10001.0
6777,147707.0,Wired Headphones,1.0,11.99,2019-01-04 16:50:00,883 4th St,Dallas,TX,75001.0
8101,148984.0,USB-C Charging Cable,1.0,11.95,2019-01-08 17:36:00,562 14th St,Boston,MA,2215.0
...,...,...,...,...,...,...,...,...,...
180782,314675.0,AA Batteries (4-pack),1.0,3.84,2019-12-26 09:01:00,927 13th St,San Francisco,CA,94016.0
181333,315204.0,Wired Headphones,1.0,11.99,2019-12-12 12:41:00,680 6th St,San Francisco,CA,94016.0
182114,315955.0,ThinkPad Laptop,1.0,999.99,2019-12-26 17:28:00,588 Chestnut St,Seattle,WA,98101.0
182341,316173.0,AAA Batteries (4-pack),1.0,2.99,2019-12-22 22:44:00,907 Sunset St,Portland,OR,97035.0
184215,317971.0,AA Batteries (4-pack),1.0,3.84,2019-12-17 18:39:00,250 Chestnut St,San Francisco,CA,94016.0

In [ ]:
# find duplicates based on some primary key
data.duplicated(subset="Order ID").sum()

#
# data.drop_duplicates(subset="Order ID", inplace=True)

np.int64(7537)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.duplicated().sum()

np.int64(0)

### Reset index

because we have drop some duplicate rows.

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
df = pd.DataFrame({"empID":[1,1,1,2,3,3,4],
                   "name":["Ahmad","Ahmad","Ahmad","Aliyan","Zia","Zia","Usman"],
                   "salary":[1500,1700,1800, 1800,1500,1500, 2000]})

In [ ]:
df

   empID    name  salary
0      1   Ahmad    1500
1      1   Ahmad    1700
2      1   Ahmad    1800
3      2  Aliyan    1800
4      3     Zia    1500
5      3     Zia    1500
6      4   Usman    2000

In [ ]:
# generalized appraoch, preffered for ML
#df.drop_duplicates()

# for analysis, you may have to work based on primary keys
#df.drop_duplicates(subset="empID",keep="first")

# keep recent entries, remove the old ones
df.drop_duplicates(subset="empID",keep="last")

   empID    name  salary
2      1   Ahmad    1800
3      2  Aliyan    1800
5      3     Zia    1500
6      4   Usman    2000

In [ ]:
#df.drop_duplicates(subset="empID") #by default, it keeps the first unique record

df.drop_duplicates(subset="empID",keep="last")

   empID    name  salary
2      1   Ahmad    1800
3      2  Aliyan    1800
4      3     Zia    1500
5      4   Usman    2000

In [ ]:
data.duplicated().sum()

np.int64(0)

### **Missing value**

In [ ]:
data.isnull().sum()

Order ID             1
Product              1
Quantity Ordered    51
Price Each           6
Order Date           1
Street               1
City                 1
State                1
Zip Code             1
dtype: int64

In [ ]:
# show the the complete blank rows
data[data.isnull().all(axis=1)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
37097,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [ ]:
# show the rows where any column has missing value
data[data.isnull().any(axis=1)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
36771,176560.0,Wired Headphones,1.0,NaN,2019-04-12 14:38:00,669 Spruce St,Los Angeles,CA,90001.0
36785,176574.0,Google Phone,1.0,NaN,2019-04-03 19:42:00,20 Hill St,Los Angeles,CA,90001.0
36918,176702.0,AA Batteries (4-pack),1.0,NaN,2019-04-23 19:44:00,896 Sunset St,Seattle,WA,98101.0
37090,176866.0,ThinkPad Laptop,1.0,NaN,2019-04-02 11:42:00,338 West St,New York City,NY,10001.0
37097,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
37166,176940.0,Lightning Charging Cable,NaN,14.95,2019-04-02 23:59:00,864 Hickory St,Dallas,TX,75001.0
37181,176955.0,AAA Batteries (4-pack),NaN,2.99,2019-04-02 16:08:00,169 Church St,San Francisco,CA,94016.0
37433,177194.0,Lightning Charging Cable,NaN,14.95,2019-04-10 18:36:00,477 Wilson St,Austin,TX,73301.0
37561,177315.0,27in FHD Monitor,NaN,149.99,2019-04-04 19:30:00,121 Walnut St,Seattle,WA,98101.0
37581,177335.0,Wired Headphones,1.0,NaN,2019-04-14 21:59:00,95 South St,New York City,NY,10001.0
84212,222056.0,USB-C Charging Cable,NaN,11.95,2019-06-11 17:16:00,367 Center St,Atlanta,GA,30301.0
84213,222057.0,USB-C Charging Cable,NaN,11.95,2019-06-02 11:26:00,452 Wilson St,Los Angeles,CA,90001.0
84214,222058.0,Google Phone,NaN,600.00,2019-06-15 08:46:00,918 14th St,New York City,NY,10001.0
84215,222058.0,USB-C Charging Cable,NaN,11.95,2019-06-15 08:46:00,918 14th St,New York City,NY,10001.0
84216,222059.0,Lightning Charging Cable,NaN,14.95,2019-06-17 20:16:00,106 Hill St,Los Angeles,CA,90001.0
84217,222060.0,AAA Batteries (4-pack),NaN,2.99,2019-06-01 08:54:00,44 Cedar St,New York City,NY,10001.0
84218,222061.0,AAA Batteries (4-pack),NaN,2.99,2019-06-10 22:45:00,163 Spruce St,Los Angeles,CA,90001.0
84219,222062.0,USB-C Charging Cable,NaN,11.95,2019-06-28 16:30:00,834 Park St,Dallas,TX,75001.0
84220,222063.0,20in Monitor,NaN,109.99,2019-06-09 14:35:00,536 Sunset St,San Francisco,CA,94016.0
84221,222064.0,Lightning Charging Cable,NaN,14.95,2019-06-04 06:39:00,991 Walnut St,San Francisco,CA,94016.0
84222,222065.0,iPhone,NaN,700.00,2019-06-16 11:55:00,476 8th St,Portland,OR,97035.0
84223,222065.0,Wired Headphones,NaN,11.99,2019-06-16 11:55:00,476 8th St,Portland,OR,97035.0
84224,222066.0,AA Batteries (4-pack),NaN,3.84,2019-06-25 08:51:00,108 Lincoln St,New York City,NY,10001.0
84225,222067.0,Wired Headphones,NaN,11.99,2019-06-16 16:09:00,393 Meadow St,Portland,OR,97035.0
114304,251022.0,USB-C Charging Cable,NaN,11.95,2019-09-24 12:26:00,107 10th St,Boston,MA,2215.0
114305,251023.0,AA Batteries (4-pack),NaN,3.84,2019-09-12 15:35:00,815 Wilson St,Boston,MA,2215.0
114306,251024.0,Apple Airpods Headphones,NaN,150.00,2019-09-03 11:39:00,59 Dogwood St,San Francisco,CA,94016.0
114307,251025.0,Lightning Charging Cable,NaN,14.95,2019-09-24 08:23:00,880 7th St,San Francisco,CA,94016.0
114308,251026.0,USB-C Charging Cable,NaN,11.95,2019-09-22 13:54:00,753 Hill St,Dallas,TX,75001.0
114309,251027.0,Google Phone,NaN,600.00,2019-09-01 14:22:00,889 Sunset St,Austin,TX,73301.0
114310,251028.0,ThinkPad Laptop,NaN,999.99,2019-09-21 07:43:00,422 1st St,Los Angeles,CA,90001.0
114311,251029.0,Macbook Pro Laptop,NaN,1700.00,2019-09-13 14:04:00,138 13th St,Dallas,TX,75001.0
114312,251030.0,AAA Batteries (4-pack),NaN,2.99,2019-09-01 12:33:00,906 Cedar St,San Francisco,CA,94016.0
114313,251031.0,Apple Airpods Headphones,NaN,150.00,2019-09-29 12:25:00,458 Madison St,San Francisco,CA,94016.0
114314,251032.0,34in Ultrawide Monitor,NaN,379.99,2019-09-15 11:10:00,172 Highland St,Portland,OR,97035.0
114315,251033.0,Apple Airpods Headphones,NaN,150.00,2019-09-12 20:48:00,322 Center St,New York City,NY,10001.0
114548,251258.0,Lightning Charging Cable,NaN,14.95,2019-09-04 11:48:00,171 Cherry St,San Francisco,CA,94016.0
114549,251259.0,27in 4K Gaming Monitor,NaN,389.99,2019-09-30 16:39:00,206 Cherry St,Seattle,WA,98101.0
114550,251260.0,27in FHD Monitor,NaN,149.99,2019-09-20 05:31:00,974 5th St,Los Angeles,CA,90001.0
114551,251261.0,ThinkPad Laptop,NaN,999.99,2019-09-03 17:40:00,569 4th St,Atlanta,GA,30301.0
114552,251262.0,Wired Headphones,NaN,11.99,2019-09-24 10:33:00,117 Jefferson St,Los Angeles,CA,90001.0
114553,251263.0,Lightning Charging Cable,NaN,14.95,2019-09-29 22:48:00,536 Madison St,San Francisco,CA,94016.0
114554,251264.0,AAA Batteries (4-pack),NaN,2.99,2019-09-07 09:34:00,68 Washington St,Los Angeles,CA,90001.0
114555,251265.0,34in Ultrawide Monitor,NaN,379.99,2019-09-16 08:21:00,639 Spruce St,San Francisco,CA,94016.0
114556,251266.0,AA Batteries (4-pack),NaN,3.84,2019-09-01 12:12:00,989 Lake St,Atlanta,GA,30301.0
114557,251267.0,Wired Headphones,NaN,11.99,2019-09-30 18:09:00,255 Chestnut St,Los Angeles,CA,90001.0
114558,251268.0,Apple Airpods Headphones,NaN,150.00,2019-09-15 11:20:00,323 2nd St,San Francisco,CA,94016.0
114559,251269.0,Wired Headphones,NaN,11.99,2019-09-16 21:57:00,485 Sunset St,Atlanta,GA,30301.0
114560,251270.0,AAA Batteries (4-pack),NaN,2.99,2019-09-20 19:29:00,902 River St,Portland,ME,4101.0
114561,251271.0,27in FHD Monitor,NaN,149.99,2019-09-04 14:29:00,476 Dogwood St,Atlanta,GA,30301.0
114562,251272.0,iPhone,NaN,700.00,2019-09-17 19:46:00,780 6th St,Dallas,TX,75001.0
114563,251273.0,Lightning Charging Cable,NaN,14.95,2019-09-02 21:46:00,513 Spruce St,New York City,NY,10001.0
114564,251274.0,Wired Headphones,NaN,11.99,2019-09-04 16:17:00,253 9th St,San Francisco,CA,94016.0
114565,251275.0,AA Batteries (4-pack),NaN,3.84,2019-09-13 18:06:00,176 North St,San Francisco,CA,94016.0
114566,251276.0,ThinkPad Laptop,NaN,999.99,2019-09-10 13:00:00,424 Washington St,Portland,OR,97035.0
114567,251277.0,AAA Batteries (4-pack),NaN,2.99,2019-09-23 16:35:00,151 Lakeview St,Atlanta,GA,30301.0

#### **Handling Missing Values**

Based on above observations you can use any of the below 2 methods to handle missing data.

- **Drop**
    - **Drop the record** — Drop an entire record at an index, when a specific column has a missing value. Please be aware that this technique can drastically reduce the number of records in the dataset if the mentioned column has a huge number of missing values.

    ```
    df.dropna()
    # or Remove rows based on null values in specific column
    df.dropna(subset = "CNIC")
    ```

    - **Drop the column or feature** — This needs good research of a specific column to understand its importance in the future. You can do this only when you are confident that this feature does not provide any useful information, for example, PassengerId feature in this dataset.

    ```
    # Remove columns that have more than 50% missing values
    threshold = 0.5 * len (df)
    df.dropna (thresh = threshold, axis=1)
    ```

- **Impute missing data** — In this technique, you can substitute the missing values or NaNs with the mean or median or mode of the same column.

  - Constant (numerical or text columns)
  - Mean  (numerical when there is no outlier)
  - Median (numerical when there are outlier)
  - Mode   (categorical, year, gender, department)
  - Backward Fill  (categories, sequential, group wise)
  - Forward Fill (categories, sequential, group wise)
  - Interpolation  (time or sequential)
  - K-Nearest Neighbors (KNN) imputation or model-based Imputation
  (use when working with complex data)

- Constant
```
df.fillna("constant")
```




- Mean imputation for a numerical column 'age'
```
df ['age'] = df ['age'].fillna(df['age'].mean())
```

- Median imputation can be used:
```
df ['age'] = df ['age'].fillna (df ['age'].median())
```

- Mode imputation can be used:
```
df ['Gender'] = df ['Gender'].fillna (df ['Gender'].mode()[0])
```


- Backward Fill:
```
df ['Column'] = df ['Column'].fillna(method='bfill')
```

- Forward Fill:
```
df ['Column'] = df ['Column'].fillna(method='ffill')
```

- Interpolation:
```
df ['Age'] = df ['Age'].interpolate()
```

- Model Based:
```
imputer = KNNImputer(n_neighbors=5)
df ['Column']  = pd.DataFrame(imputer.fit_transform( ["Column"]), columns=Column)
```


Data cleaning Guide: https://colab.research.google.com/drive/1koDm_qPc68VwjmD7CfcURMkxKNIbzztE?usp=sharing

In [ ]:
data[data.isnull().all(axis=1)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
37097,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [ ]:
data.dropna(subset="Order ID",inplace=True)

In [ ]:
data.isnull().sum()

Order ID             0
Product              0
Quantity Ordered    50
Price Each           5
Order Date           0
Street               0
City                 0
State                0
Zip Code             0
dtype: int64

In [ ]:
data[data["Quantity Ordered"].isnull()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
37166,176940.0,Lightning Charging Cable,NaN,14.95,2019-04-02 23:59:00,864 Hickory St,Dallas,TX,75001.0
37181,176955.0,AAA Batteries (4-pack),NaN,2.99,2019-04-02 16:08:00,169 Church St,San Francisco,CA,94016.0
37433,177194.0,Lightning Charging Cable,NaN,14.95,2019-04-10 18:36:00,477 Wilson St,Austin,TX,73301.0
37561,177315.0,27in FHD Monitor,NaN,149.99,2019-04-04 19:30:00,121 Walnut St,Seattle,WA,98101.0
84212,222056.0,USB-C Charging Cable,NaN,11.95,2019-06-11 17:16:00,367 Center St,Atlanta,GA,30301.0
84213,222057.0,USB-C Charging Cable,NaN,11.95,2019-06-02 11:26:00,452 Wilson St,Los Angeles,CA,90001.0
84214,222058.0,Google Phone,NaN,600.00,2019-06-15 08:46:00,918 14th St,New York City,NY,10001.0
84215,222058.0,USB-C Charging Cable,NaN,11.95,2019-06-15 08:46:00,918 14th St,New York City,NY,10001.0
84216,222059.0,Lightning Charging Cable,NaN,14.95,2019-06-17 20:16:00,106 Hill St,Los Angeles,CA,90001.0
84217,222060.0,AAA Batteries (4-pack),NaN,2.99,2019-06-01 08:54:00,44 Cedar St,New York City,NY,10001.0
84218,222061.0,AAA Batteries (4-pack),NaN,2.99,2019-06-10 22:45:00,163 Spruce St,Los Angeles,CA,90001.0
84219,222062.0,USB-C Charging Cable,NaN,11.95,2019-06-28 16:30:00,834 Park St,Dallas,TX,75001.0
84220,222063.0,20in Monitor,NaN,109.99,2019-06-09 14:35:00,536 Sunset St,San Francisco,CA,94016.0
84221,222064.0,Lightning Charging Cable,NaN,14.95,2019-06-04 06:39:00,991 Walnut St,San Francisco,CA,94016.0
84222,222065.0,iPhone,NaN,700.00,2019-06-16 11:55:00,476 8th St,Portland,OR,97035.0
84223,222065.0,Wired Headphones,NaN,11.99,2019-06-16 11:55:00,476 8th St,Portland,OR,97035.0
84224,222066.0,AA Batteries (4-pack),NaN,3.84,2019-06-25 08:51:00,108 Lincoln St,New York City,NY,10001.0
84225,222067.0,Wired Headphones,NaN,11.99,2019-06-16 16:09:00,393 Meadow St,Portland,OR,97035.0
114304,251022.0,USB-C Charging Cable,NaN,11.95,2019-09-24 12:26:00,107 10th St,Boston,MA,2215.0
114305,251023.0,AA Batteries (4-pack),NaN,3.84,2019-09-12 15:35:00,815 Wilson St,Boston,MA,2215.0
114306,251024.0,Apple Airpods Headphones,NaN,150.00,2019-09-03 11:39:00,59 Dogwood St,San Francisco,CA,94016.0
114307,251025.0,Lightning Charging Cable,NaN,14.95,2019-09-24 08:23:00,880 7th St,San Francisco,CA,94016.0
114308,251026.0,USB-C Charging Cable,NaN,11.95,2019-09-22 13:54:00,753 Hill St,Dallas,TX,75001.0
114309,251027.0,Google Phone,NaN,600.00,2019-09-01 14:22:00,889 Sunset St,Austin,TX,73301.0
114310,251028.0,ThinkPad Laptop,NaN,999.99,2019-09-21 07:43:00,422 1st St,Los Angeles,CA,90001.0
114311,251029.0,Macbook Pro Laptop,NaN,1700.00,2019-09-13 14:04:00,138 13th St,Dallas,TX,75001.0
114312,251030.0,AAA Batteries (4-pack),NaN,2.99,2019-09-01 12:33:00,906 Cedar St,San Francisco,CA,94016.0
114313,251031.0,Apple Airpods Headphones,NaN,150.00,2019-09-29 12:25:00,458 Madison St,San Francisco,CA,94016.0
114314,251032.0,34in Ultrawide Monitor,NaN,379.99,2019-09-15 11:10:00,172 Highland St,Portland,OR,97035.0
114315,251033.0,Apple Airpods Headphones,NaN,150.00,2019-09-12 20:48:00,322 Center St,New York City,NY,10001.0
114548,251258.0,Lightning Charging Cable,NaN,14.95,2019-09-04 11:48:00,171 Cherry St,San Francisco,CA,94016.0
114549,251259.0,27in 4K Gaming Monitor,NaN,389.99,2019-09-30 16:39:00,206 Cherry St,Seattle,WA,98101.0
114550,251260.0,27in FHD Monitor,NaN,149.99,2019-09-20 05:31:00,974 5th St,Los Angeles,CA,90001.0
114551,251261.0,ThinkPad Laptop,NaN,999.99,2019-09-03 17:40:00,569 4th St,Atlanta,GA,30301.0
114552,251262.0,Wired Headphones,NaN,11.99,2019-09-24 10:33:00,117 Jefferson St,Los Angeles,CA,90001.0
114553,251263.0,Lightning Charging Cable,NaN,14.95,2019-09-29 22:48:00,536 Madison St,San Francisco,CA,94016.0
114554,251264.0,AAA Batteries (4-pack),NaN,2.99,2019-09-07 09:34:00,68 Washington St,Los Angeles,CA,90001.0
114555,251265.0,34in Ultrawide Monitor,NaN,379.99,2019-09-16 08:21:00,639 Spruce St,San Francisco,CA,94016.0
114556,251266.0,AA Batteries (4-pack),NaN,3.84,2019-09-01 12:12:00,989 Lake St,Atlanta,GA,30301.0
114557,251267.0,Wired Headphones,NaN,11.99,2019-09-30 18:09:00,255 Chestnut St,Los Angeles,CA,90001.0
114558,251268.0,Apple Airpods Headphones,NaN,150.00,2019-09-15 11:20:00,323 2nd St,San Francisco,CA,94016.0
114559,251269.0,Wired Headphones,NaN,11.99,2019-09-16 21:57:00,485 Sunset St,Atlanta,GA,30301.0
114560,251270.0,AAA Batteries (4-pack),NaN,2.99,2019-09-20 19:29:00,902 River St,Portland,ME,4101.0
114561,251271.0,27in FHD Monitor,NaN,149.99,2019-09-04 14:29:00,476 Dogwood St,Atlanta,GA,30301.0
114562,251272.0,iPhone,NaN,700.00,2019-09-17 19:46:00,780 6th St,Dallas,TX,75001.0
114563,251273.0,Lightning Charging Cable,NaN,14.95,2019-09-02 21:46:00,513 Spruce St,New York City,NY,10001.0
114564,251274.0,Wired Headphones,NaN,11.99,2019-09-04 16:17:00,253 9th St,San Francisco,CA,94016.0
114565,251275.0,AA Batteries (4-pack),NaN,3.84,2019-09-13 18:06:00,176 North St,San Francisco,CA,94016.0
114566,251276.0,ThinkPad Laptop,NaN,999.99,2019-09-10 13:00:00,424 Washington St,Portland,OR,97035.0
114567,251277.0,AAA Batteries (4-pack),NaN,2.99,2019-09-23 16:35:00,151 Lakeview St,Atlanta,GA,30301.0

In [ ]:
data["Quantity Ordered"].value_counts()

Quantity Ordered
1.000000    168239
2.000000     13321
3.000000      2920
4.000000       806
5.000000       236
6.000000        80
7.000000        24
8.000000         5
9.000000         3
0.965432         1
Name: count, dtype: int64

In [ ]:
mode_quantity = data["Quantity Ordered"].mode()[0]
mode_quantity

np.float64(1.0)

In [ ]:
data["Quantity Ordered"] = data["Quantity Ordered"].fillna(mode_quantity)

In [ ]:
data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          5
Order Date          0
Street              0
City                0
State               0
Zip Code            0
dtype: int64

In [ ]:
data[data["Price Each"].isnull()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
36771,176560.0,Wired Headphones,1.0,NaN,2019-04-12 14:38:00,669 Spruce St,Los Angeles,CA,90001.0
36785,176574.0,Google Phone,1.0,NaN,2019-04-03 19:42:00,20 Hill St,Los Angeles,CA,90001.0
36918,176702.0,AA Batteries (4-pack),1.0,NaN,2019-04-23 19:44:00,896 Sunset St,Seattle,WA,98101.0
37090,176866.0,ThinkPad Laptop,1.0,NaN,2019-04-02 11:42:00,338 West St,New York City,NY,10001.0
37581,177335.0,Wired Headphones,1.0,NaN,2019-04-14 21:59:00,95 South St,New York City,NY,10001.0

In [ ]:
data[["Product","Price Each"]].value_counts(dropna=False)

Product                     Price Each
USB-C Charging Cable        11.95          21859
Lightning Charging Cable    14.95          21610
AAA Batteries (4-pack)      2.99           20612
AA Batteries (4-pack)       3.84           20557
Wired Headphones            11.99          18847
Apple Airpods Headphones    150.00         15525
Bose SoundSport Headphones  99.99          13298
27in FHD Monitor            149.99          7498
27in 4K Gaming Monitor      389.99          6225
34in Ultrawide Monitor      379.99          6174
Google Phone                600.00          6163
iPhone                      700.00          5803
Flatscreen TV               300.00          4794
Macbook Pro Laptop          1700.00         4720
ThinkPad Laptop             999.99          4125
20in Monitor                109.99          4098
LG Washing Machine          600.00           666
Google PHONE.               600.00           664
LG Dryer                    600.00           646
GOOGLE. PHONE               600.00           616
i-Phone                     700.00           544
iphone.                     700.00           287
I Phone                     700.00           102
google phoone               600.00           102
iphone                      700.00            99
Google-Phone                600.00            24
google phone                600.00             8
google Phone                600.00             7
IPHONE                      700.00             4
Wired Headphones            NaN                2
ASUS Gaming Laptop          4800.00            1
AA Batteries (4-pack)       NaN                1
IPhone                      700.00             1
Google Phone                NaN                1
ThinkPad Laptop             NaN                1
Macbook Pro Laptop          99999999.00        1
Name: count, dtype: int64

In [ ]:
data.sort_values(by="Product",inplace=True)

In [ ]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
143165,278775.0,20in Monitor,1.0,109.99,2019-10-13 12:00:00,400 Hickory St,San Francisco,CA,94016.0
26993,167149.0,20in Monitor,1.0,109.99,2019-03-04 01:59:00,241 Meadow St,San Francisco,CA,94016.0
117149,253767.0,20in Monitor,1.0,109.99,2019-09-17 22:33:00,861 Main St,Atlanta,GA,30301.0
117158,253776.0,20in Monitor,1.0,109.99,2019-09-13 22:11:00,370 Main St,Los Angeles,CA,90001.0
117183,253801.0,20in Monitor,1.0,109.99,2019-09-28 09:53:00,446 Lake St,Seattle,WA,98101.0

In [ ]:
data[data["Price Each"].isnull()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
36918,176702.0,AA Batteries (4-pack),1.0,NaN,2019-04-23 19:44:00,896 Sunset St,Seattle,WA,98101.0
36785,176574.0,Google Phone,1.0,NaN,2019-04-03 19:42:00,20 Hill St,Los Angeles,CA,90001.0
37090,176866.0,ThinkPad Laptop,1.0,NaN,2019-04-02 11:42:00,338 West St,New York City,NY,10001.0
37581,177335.0,Wired Headphones,1.0,NaN,2019-04-14 21:59:00,95 South St,New York City,NY,10001.0
36771,176560.0,Wired Headphones,1.0,NaN,2019-04-12 14:38:00,669 Spruce St,Los Angeles,CA,90001.0

In [ ]:
data.reset_index(drop=True,inplace=True)

In [ ]:
data[data["Price Each"].isnull()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code
26873,176702.0,AA Batteries (4-pack),1.0,NaN,2019-04-23 19:44:00,896 Sunset St,Seattle,WA,98101.0
101341,176574.0,Google Phone,1.0,NaN,2019-04-03 19:42:00,20 Hill St,Los Angeles,CA,90001.0
136306,176866.0,ThinkPad Laptop,1.0,NaN,2019-04-02 11:42:00,338 West St,New York City,NY,10001.0
165083,177335.0,Wired Headphones,1.0,NaN,2019-04-14 21:59:00,95 South St,New York City,NY,10001.0
165539,176560.0,Wired Headphones,1.0,NaN,2019-04-12 14:38:00,669 Spruce St,Los Angeles,CA,90001.0

In [ ]:
data.loc[26870:26875,["Product","Price Each"]]

                     Product  Price Each
26870  AA Batteries (4-pack)        3.84
26871  AA Batteries (4-pack)        3.84
26872  AA Batteries (4-pack)        3.84
26873  AA Batteries (4-pack)         NaN
26874  AA Batteries (4-pack)        3.84
26875  AA Batteries (4-pack)        3.84

In [ ]:
data["price_interpolation"] = data["Price Each"].interpolate()

In [ ]:
data.loc[136303:136309,["Product","Price Each","price_interpolation"]]

                Product  Price Each  price_interpolation
136303  ThinkPad Laptop      999.99               999.99
136304  ThinkPad Laptop      999.99               999.99
136305  ThinkPad Laptop      999.99               999.99
136306  ThinkPad Laptop         NaN               999.99
136307  ThinkPad Laptop      999.99               999.99
136308  ThinkPad Laptop      999.99               999.99
136309  ThinkPad Laptop      999.99               999.99

In [ ]:
data[["Product","Price Each","price_interpolation"]].value_counts(dropna=False)

Product                     Price Each   price_interpolation
USB-C Charging Cable        11.95        11.95                  21859
Lightning Charging Cable    14.95        14.95                  21610
AAA Batteries (4-pack)      2.99         2.99                   20612
AA Batteries (4-pack)       3.84         3.84                   20557
Wired Headphones            11.99        11.99                  18847
Apple Airpods Headphones    150.00       150.00                 15525
Bose SoundSport Headphones  99.99        99.99                  13298
27in FHD Monitor            149.99       149.99                  7498
27in 4K Gaming Monitor      389.99       389.99                  6225
34in Ultrawide Monitor      379.99       379.99                  6174
Google Phone                600.00       600.00                  6163
iPhone                      700.00       700.00                  5803
Flatscreen TV               300.00       300.00                  4794
Macbook Pro Laptop          1700.00      1700.00                 4720
ThinkPad Laptop             999.99       999.99                  4125
20in Monitor                109.99       109.99                  4098
LG Washing Machine          600.00       600.00                   666
Google PHONE.               600.00       600.00                   664
LG Dryer                    600.00       600.00                   646
GOOGLE. PHONE               600.00       600.00                   616
i-Phone                     700.00       700.00                   544
iphone.                     700.00       700.00                   287
I Phone                     700.00       700.00                   102
google phoone               600.00       600.00                   102
iphone                      700.00       700.00                    99
Google-Phone                600.00       600.00                    24
google phone                600.00       600.00                     8
google Phone                600.00       600.00                     7
IPHONE                      700.00       700.00                     4
Wired Headphones            NaN          11.99                      2
ASUS Gaming Laptop          4800.00      4800.00                    1
AA Batteries (4-pack)       NaN          3.84                       1
IPhone                      700.00       700.00                     1
Google Phone                NaN          600.00                     1
ThinkPad Laptop             NaN          999.99                     1
Macbook Pro Laptop          99999999.00  99999999.00                1
Name: count, dtype: int64

In [ ]:
data["Price Each"] = data["price_interpolation"]

In [ ]:
data.isnull().sum()

Order ID               0
Product                0
Quantity Ordered       0
Price Each             0
Order Date             0
Street                 0
City                   0
State                  0
Zip Code               0
price_interpolation    0
dtype: int64

In [ ]:
data.drop(columns="price_interpolation",inplace=True)

### **Update the data types of columns**

**Order ID**

In [ ]:
data["Order ID"] = data["Order ID"].astype(int)

**Quantity Ordered**

In [ ]:
data["Quantity Ordered"] = round(data["Quantity Ordered"])

In [ ]:
data["Quantity Ordered"] = data["Quantity Ordered"].astype(int)

In [ ]:
data.dtypes

Order ID                     int64
Product                     object
Quantity Ordered             int64
Price Each                 float64
Order Date          datetime64[ns]
Street                      object
City                        object
State                       object
Zip Code                   float64
dtype: object

### **Add column: Sales**

In [ ]:
data["Sales"] = data["Quantity Ordered"] * data["Price Each"]

In [ ]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code,Sales
0,278775,20in Monitor,1,109.99,2019-10-13 12:00:00,400 Hickory St,San Francisco,CA,94016.0,109.99
1,167149,20in Monitor,1,109.99,2019-03-04 01:59:00,241 Meadow St,San Francisco,CA,94016.0,109.99
2,253767,20in Monitor,1,109.99,2019-09-17 22:33:00,861 Main St,Atlanta,GA,30301.0,109.99
3,253776,20in Monitor,1,109.99,2019-09-13 22:11:00,370 Main St,Los Angeles,CA,90001.0,109.99
4,253801,20in Monitor,1,109.99,2019-09-28 09:53:00,446 Lake St,Seattle,WA,98101.0,109.99

## Save the cleaned file

In [ ]:
data.reset_index(drop=True,inplace=True)

In [ ]:
data.sort_values(by="Order ID",inplace=True)

In [ ]:
data.to_csv("Clean_data.csv",index=False)