**String Manipulation**

In [ ]:
# Program for Creation of String

# Creating a String with double Quotes

String1 = "I'm a Python Learner"


print("String with the use of Double \nQuotes: ") # \n--- new line

#print(String1)
print("mahnoor\tsalman")
print("mahnoor\bsalman")

String with the use of Double
Quotes:
mahnoor	salman
mahnoorsalman

In [ ]:
# Creating a String with single Quotes

String2 = 'Welcome to the "Python" Class'

print("String with the use of Single Quotes: ")

print(String2)

In [ ]:
print("mahnoor salman")
print("shes in \\n atomcamp")
print("Shahzad \\nBasir")

mahnoor salman
shes in \n atomcamp
Shahzad \nBasir

In [ ]:
a="mahnoor"
"salman"

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-1933834552.py, line 1)

In [ ]:
# Creating a String with triple Quotes allows multiple lines- use single quotes
String3 = '''

Hi Alix,
This is an important email.

Regards,
Team '''


print("\nString with the use of Triple Quotes: ")
print(String3)

String with the use of Triple Quotes:


Hi Alix,
This is an important email.

Regards,
Team

In [ ]:
first_name = "John"

last_name = "25" # string- data inside is numbers
print(first_name + last_name)

TypeError: can only concatenate str (not "int") to str

In [ ]:
first_name = "John"

last_name = "25" # string- data inside is numbers

full_name = first_name + " " + last_name

print("Full Name:", full_name) # Output: Full Name: John Doe

In [ ]:
message = "Rabya25/" * 4

print(message)

Rabya25/Rabya25/Rabya25/Rabya25/

In [ ]:
a="python class"
print(a)
a=a.replace("class","session")
print(a)
#changes are permanent

python class
python session



Accessing elements of String

0 referes to the first character in the String. -1 refers to the last character, -2 refers to the second last character, and so on.

In [ ]:
b="mahnoor" #noo
print(b[3:6])
print(b[-4:-1])

noo
noo

In [ ]:
String_1 = "Welcome to the Python's Class"

Srting_2 = 'Welcom\'e to th\'e Python\'s Class' #to eleminate the functionality of ' we use \

In [ ]:


# Printing First character
print("\nFirst character of String is: ")
print(String_1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String_1[-1])

First character of String is:
W

Last character of String is:
s



String Slicing

Slicing operator : - [startindex:endindex].

NOTE: Slicing returnes the character at the start index but not the character at the last index.

In [ ]:
# Program to demonstrate String slicing

#The [3:12] indicates that the string slicing will start from the 3rd index of the string to the 12th index,
#(12th character not including).

# Creating a String
String1 = "Learning Python for Data Science"

String1 = 'Creating a String'

print(String1[13])

print("Initial String: ")
print(String1)

# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")

sub_string = String1[3:13]

print(String1[3:13])

# Printing characters between 3rd and 2nd last character

print("\nSlicing characters between 3rd and 2nd last character: ")
print(String1[3:-2])

r
Initial String:
Creating a String

Slicing characters from 3-12:
ating a St

Slicing characters between 3rd and 2nd last character:
ating a Stri

In [ ]:
string = "Learning Data Python for Data Science"

string.count("Data")
a="mahnoorsalman@@atomcamp.com"
a.count("@") # write again

c="25-899632-5"
c.isdigit() # check phone number
string = "LearningDataPythonforDataScience"
string.isalpha()

#Bachelor master--- isalpha -- cleaning
string.index("Data")
string.swapcase()

'lEARNINGdATApYTHONFORdATAsCIENCE'

**Working with Python String constants Built-In Functions**

String.lower() - Converts the entire string into lowercase letters.

String.upper() - Converts the entire string into uppercase letters.

String.endswith() - Returns True if a string ends with the given suffix otherwise returns False.

String.startswith() - Returns True if a string starts with the given prefix otherwise returns False.

String.count() - Returns the number of occurrences of a substring in the given string

String.isdigit() - Returns “True” if all characters in the string are digits, Otherwise, It returns “False”.

String.isalpha() - Returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”.

String.index - Returns the position of the first occurrence of substring in a string.

String.swapcase() - Method converts all uppercase characters to lowercase and vice versa of the given string, and returns it.

String.replace() - Returns a copy of the string where all occurrences of a substring is replaced with another substring.

In [ ]:
a="mahnoor"
a.startswith("maH")

False

In [ ]:
a="mahnoor@mahnoor@"
a.index("@")

7

In [ ]:
string_1 = '12345' # cannot perform any numerical operations on it

print(string_1.isdigit())

num_1 = int(string_1)

num_1 += 34

print(num_1)

True
12345

# **Taking Input from user**

In [ ]:
 course = input("Which course are you taking: ")

 print("Your course is :", course)

 rating = int(input("Please rate your course (1-5): "))



 print(type(rating))

Which course are you taking: Python
Your course is : Python
Please rate your course (1-5): 5
<class 'str'>

**Calculate 20% discount on the price of the item**
1. input from user price of item
2. convert into int
3. calculate 20% disc on that value
4. disc_val = price *0.20

In [ ]:
cost = int(input("Please enter the cost of item:"))

disc = cost * 0.2

discounted_value = cost - disc

print("The actual cost was: ", cost, "The discounted price is: ", discounted_value)

Please enter the cost of item:300
The actual cost was:  300 The discounted price is:  240.0

In [ ]:
# two inputs- name, phonenumber--- have name as all lowercase, numbers all digits
#display name in lowercase and tell me the phone number doesnt hve any other character than digit
str1 = input("Enter the name of User:")
str2 = input("Enter the phone Number:")
str1 = str1.islower()
str2 = str2.isdigit()
print("Name:", str1)
print("number",str2)

Enter the name of User:mahnoor
Enter the phone Number:899665
Name: True
number True

In [ ]:
str1 = input("Enter the name of User:")
str2 = int(input("Enter the phone Number:"))
str1 = str1.islower()

print("Name:", str1)
print("number",str2)

Enter the name of User:nckvcnx

In [ ]:
input_1 = str(input("Enter your name: "))
input_2 = input("Enter your phone number: ")

a = input_1.islower()
b = input_2.isdigit()

if (a == True) and (b == True):
  print("Both true")

else:
  print("one is wrong")

Enter your name: mmmmmm
Enter your phone number: 895666
Both true

In [ ]:
name = input("enter your name ")
Phone = int(input("enter your number"))
name = name.lower(name)

enter your name iii
enter your number888

TypeError: str.lower() takes no arguments (1 given)

# **Python List**

In [ ]:
my_list = ["cabbage", "carrot", False, "cabbage", 19, 3.4, 22,22] # diff datatypes=
#indexed
print(my_list)
print(type(my_list))
print(len(my_list))
#False-- 2nd index or 3rd element
print(type(my_list[2]))

['cabbage', 'carrot', False, 'cabbage', 19, 3.4, 22, 22]
<class 'list'>
8
<class 'bool'>

In [ ]:
my_list2 = [""]

print(my_list2)
print(len(my_list2))

['']
1

**Acessing elements**

In [ ]:
#indexing = ["cabbage", "carrot", False, "cabbage", 19, 3.4, 22]

print(my_list[0])

print(my_list[1])

print(my_list[6])

print(my_list[-3])

print(my_list[1:-1])

print(my_list[1:])

print(my_list[2:])

cabbage
carrot
22
19
['carrot', False, 'cabbage', 19, 3.4]
['carrot', False, 'cabbage', 19, 3.4, 22]
[False, 'cabbage', 19, 3.4, 22]

In [ ]:
a = ["cabbage", "carrot", False, "cabbage", 19, 3.4, 22]
a[0::2] #starting index, ending index,step size

['cabbage', False, 19, 22]

In [ ]:
#to get the index of a specific item
my_list=["cabbage", "carrot", False, "cabbage", 19, 3.4, 22]
print(my_list.index("cabbage"))

print(my_list.index(False))

0
2

In [ ]:
print(my_list)

#for indexing list slices, you can add a step size like this: my_list[start:stop:step]

print(my_list[-1:-6:-1])

['cabbage', 'carrot', False, 'cabbage', 19, 3.4, 22]
[22, 3.4, 19, 'cabbage', False]

In [ ]:

#indexing = ["cabba:ge", "carrot", False, "cabbage", 19, 3.4, 22]
#print(sublist)

print(my_list)

#for indexing list slices, you can add a step size like this: my_list[start:stop:step]

print(my_list[1:7:3])

print(my_list[-1:-6:-2])

['cabbage', 'carrot', False, 'cabbage', 19, 3.4, 22]
['carrot', 19]
[22, 19, False]

In [ ]:
b=["cabbage", "carrot", False, "cabbage", 19, 3.4, 22,22]
b

['cabbage', 'carrot', False, 'cabbage', 19, 3.4, 22, 22]

**Modifying elements**

In [ ]:
my_list=["cabbage", "carrot", False, "cabbage", 19, 3.4, 22]
print(my_list)
my_list[2] = "new value" #replacement

print(my_list)

print(my_list + ["apple"]) #adds apple to the list in output but doesn't change the original list
#my_list=my_list+["apple"]
#print(my_list)
my_list.append("mango")
print(my_list)

['cabbage', 'carrot', False, 'cabbage', 19, 3.4, 22]
['cabbage', 'carrot', 'new value', 'cabbage', 19, 3.4, 22]
['cabbage', 'carrot', 'new value', 'cabbage', 19, 3.4, 22, 'apple']
['cabbage', 'carrot', 'new value', 'cabbage', 19, 3.4, 22, 'mango']

# **Adding elements**

In [ ]:
my_list = ["apple", "banana", "watermelon"]
print(my_list)
my_list.append("mango") #this operation directly changes the original list

print(my_list) #['apple', 'banana', 'watermelon', 'mango']

my_list.insert(2, "kiwi") #inserts an item at a specific index
print(my_list) #['apple', 'banana', 'kiwi', 'watermelon', 'mango']
my_list.insert(5, "pineapple")

print(my_list)

#append can only add ONE item. but extend can add multiple items.

#Note that extend takes in ONE argument, which is a list of items you wish to add

my_list.extend(["kiwi", "grape", "apricot"])
print(my_list)

['apple', 'banana', 'watermelon']
['apple', 'banana', 'watermelon', 'mango']
['apple', 'banana', 'kiwi', 'watermelon', 'mango']
['apple', 'banana', 'kiwi', 'watermelon', 'mango', 'pineapple']
['apple', 'banana', 'kiwi', 'watermelon', 'mango', 'pineapple', 'kiwi', 'grape', 'apricot']

In [ ]:
my_list=['apple', 'banana', 'kiwi', 'watermelon', 'mango', 'pineapple', 'kiwi', 'grape', 'mango','apricot']
my_list.count("mango")

2

**Removing elements**

In [ ]:
my_list=['apple', 'banana', 'kiwi', 'watermelon', 'mango', 'pineapple', 'kiwi', 'grape', 'mango','apricot']
print(my_list)
my_list.remove("mango")
print(my_list)

#this will remove the element at index 3 and return it to you. if left empty, it will remove the last element.
my_list.pop(3)
print(my_list)

#using pop(), you can even store the removed item in a new variable
removed_item = my_list.pop() #it will remove 1 value from the end of the list
print(my_list)
print(removed_item)

['apple', 'banana', 'kiwi', 'watermelon', 'mango', 'pineapple', 'kiwi', 'grape', 'mango', 'apricot']
['apple', 'banana', 'kiwi', 'watermelon', 'pineapple', 'kiwi', 'grape', 'mango', 'apricot']
['apple', 'banana', 'kiwi', 'pineapple', 'kiwi', 'grape', 'mango', 'apricot']
['apple', 'banana', 'kiwi', 'pineapple', 'kiwi', 'grape', 'mango']
apricot

In [ ]:
# []
a=(1,2,3,4,5,2)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 2)
<class 'tuple'>

In [ ]:
a.insert(1,"hey")

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
a[1]

2

In [ ]:
#ignore
c={1,2,3,4,2}
print(type(c))
print(c)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
a= [2,4,6,8]

**Dictionaries in Python**

Dictionaries allow us to work with key value pairs. Where key is the unique identifier where we can find our data and value is that data it self. We can think of it as real dictionary.

In [ ]:
my_dict = { "name": "Rabya", "age":33, "city":"New York"}

#my_list = ["Rabya", 33, "New York", (45, 90)]

#print(my_dict) #index

print(my_dict["city"]) #key

print(my_dict)
print(my_dict.keys())
print(my_dict["age"])

New York
{'name': 'Rabya', 'age': 33, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
33

In [ ]:
my_dict = { "name": "Rabya", "age":[33,99,77,89], "name1":"New York"} #values = float, int, string, lists, dictionary, tuples

print(my_dict["name"]) #index no



#print(my_dict)

Rabya

In [ ]:
#list, set - mutable
#tuple-immutable

In [ ]:
#'phone no.' = 12345
my_dict = { "name": "Rabya", "age":33, "city":"New York"}
my_dict['phone no.'] = 12345
my_dict["gender"]="female"
#my_dict['name'] = 'Sayed', 'Khan', 'Rabya'

#single variable having multiple values -> tuple (Sayed', 'Khan', 'Rabya')

print(my_dict)

{'name': 'Rabya', 'age': 33, 'city': 'New York', 'phone no.': 12345, 'gender': 'female'}

In [ ]:
my_dict.update({'city':['New York', 'Kuala Lumpur', 'Islamabad'], 'courses':['Maths', 'Arts', 'English']})

print(my_dict)

{'name': 'Rabya', 'age': 33, 'city': ['New York', 'Kuala Lumpur', 'Islamabad'], 'phone no.': 12345, 'gender': 'female', 'courses': ['Maths', 'Arts', 'English']}

In [ ]:
val = my_dict.pop('age')

print(val)

print(my_dict)

33
{'name': 'Rabya', 'city': ['New York', 'Kuala Lumpur', 'Islamabad'], 'phone no.': 12345, 'gender': 'female', 'courses': ['Maths', 'Arts', 'English']}

In [ ]:
print(my_dict.keys(), '\n') # only keys in dictionary

print(my_dict.values(), '\n') # only values in dictionary

print(my_dict.items(), '\n') # return keys and values in dictionary

print(len(my_dict)) # no. of elements in dictionary

dict_keys(['name', 'city', 'phone no.', 'gender', 'courses'])

dict_values(['Rabya', ['New York', 'Kuala Lumpur', 'Islamabad'], 12345, 'female', ['Maths', 'Arts', 'English']])

dict_items([('name', 'Rabya'), ('city', ['New York', 'Kuala Lumpur', 'Islamabad']), ('phone no.', 12345), ('gender', 'female'), ('courses', ['Maths', 'Arts', 'English'])])

5

# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
print(type(thisset))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
a=["apple", "banana", "cherry", "apple"]
print(thisset)
print(a)

#store name of the students-list
#store the ID numbers-set-

{'apple', 'banana', 'cherry'}
['apple', 'banana', 'cherry', 'apple']

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2.5} #set- data structure
#1st element of this data structure (set) is of strimg data type
a=["pp",.25,45,8.9] # data structure-list
# data type of element on 3rd index-float

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

# There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
my_dict = { "name": "Rabya", "age":33, "city":"New York","city":"New York1"}
my_dict["city"]

'New York1'