# **Topics List:**

Intro to Functions: Defining & calling simple functions

Advanced functions:

Arguments: *args, **kwargs

Lambda functions

# **Python Functions**

function is a block of code defined with a name

1. Built-in function
2. User-defined function

Predefined functions - range(), type(), input(), len()

**Syntax**

def function_name(parameter1, parameter2):
       # function body    
       # write some action
return value

In [ ]:
a= input("enter your name:") # user enter data

enter your name:mahnoor

In [ ]:
type()
print()
out()

In [ ]:
a=89
print("the type is",type(a),"hello")
b="mahnoor"
print(len(b))

the type is <class 'int'> hello
7

In [ ]:
def encourage(name):
  print("hello ",name)
  print(" good jobb!")

In [ ]:
encourage("Maham")

hello  Maham
 good jobb!

In [ ]:
encourage(89)

hello  89
 good jobb!

In [ ]:
def no(n):
  if n%2==0:
    print("even")
  else:
    print("odd")

In [ ]:
no(15)

odd

In [ ]:
 # funcation--- tell if i am eligible to vote by entering my age
 def vote(age):
   if age>=18:
     print("eligible")
   else:
     print("not eligible")
vote(25)

eligible

In [ ]:
def aver(a,b,c):
  print("the average is",(a+b+c)/3)

In [ ]:
aver(2,3,1)

the average is 2.0

In [ ]:
#inputs 2 numbers and displayes the minimum
def min(a,b): # paramneters - a and b
    if a < b:
        print(a , " is less than " , b)
    else:
        print(b ," is less than " ,a)


min(50,52) #give values to your parameter--- argument

50  is less than  52

In [ ]:
#input 2 numbers--- fuct-- which prints the largest value using IF


def large(a,b):
  if a>b:
    print(a)
  else:
    print(b)

In [ ]:
a= int(input())
b=int(input())
large(a,b)

2
6
6

In [ ]:
def large(a,b):
  if a>b:
    print(a)
  else:
    print(b)

large(3,4)

4

In [ ]:
def large1(a,b):
  if a>b:
    return a
  else:
    return b

c=large1(2,9)
print(c)

9

In [ ]:
large(96,8) #print
c=large1(88,99) #return
print("its end")
print(c)

96
its end
99

In [ ]:
c=large(96,8) #print
print(c)

96
None

In [ ]:
def data(name,age):
  print("The name is :",name)
  print("the age is:", age )


data("mahnoor",23)
print("[---------------------]")
data(25,"sara")

The name is : mahnoor
the age is: 23
[---------------------]
The name is : 25
the age is: sara

In [ ]:
data(age=25,name="sara")

The name is : sara
the age is: 25

In [ ]:
data("mahnoor")

TypeError: data() missing 1 required positional argument: 'age'

In [ ]:
def data(name="Not Given",age="Not Given"):
  print("The name is :",name)
  print("the age is:", age )
data("mahnoor")

The name is : mahnoor
the age is: Not Given

In [ ]:
def data(name="None",age="Not given"):
  if(type(name)=="Str" and type(age)=="int"):
    print("The name is :",name)
    print("the age is:", age)
  else:
    print("invalid entries")
data("mahnoor",25)
data("sara")
data()

invalid entries
invalid entries
invalid entries

In [ ]:
def data(name="None",age="Not given"):

    print("The name is :",name)
    print("the age is:", age)


data("mahnoor",25)
data("sara")
data()

The name is : mahnoor
the age is: 25
The name is : sara
the age is: Not given
The name is : None
the age is: Not given

In [ ]:
a= input()
b=int(input())

data(name=a,age=b)

In [ ]:
def data(name="None",age=0):
  if(type(name)==str and type(age)==int):
    print("The name is :",name)
    print("the age is:", age)
  else:
    print("invalid entries")

In [ ]:
type(25)

int

In [ ]:
data("mahnoor",25)

The name is : mahnoor
the age is: 25

In [ ]:
data("mahnoor",25)

invalid entries

In [ ]:
#Function to add two numbers

def calculator(a, b): #inputs of this function #returns sum of a and b
    add = a + b
    # return the addition
    return add #output of this function

# call function

In [ ]:
calculator(50,40)
print("my result")

my result

In [ ]:
res = calculator(b=6, a=50) # take return value in variable

print("subtraction :", res)

subtraction : 56

In [ ]:
#Function to check if a number is even or odd

def even_odd(n):
    # check number is even or odd
    if (n % 2 == 0):
        print('Even number')
    else:
        print('Odd Number')

In [ ]:
# calling function by its name
u=even_odd(19)

Odd Number

In [ ]:
print(u)

None

In [ ]:
def time(n=2):
  for i in range(n):
    print(i)

In [ ]:
time()

0
1

In [ ]:
def classify_number(number):
    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

# Testing the function
print(classify_number(5))  # Output: Positive
print(classify_number(-3))  # Output: Negative
print(classify_number(0))  # Output: Zero

In [ ]:
def calculate_sum_of_numbers(n):
    total = 0
    for i in range(1, n+1):  # Sum numbers from 1 to n
        total += i
    return total

# Testing the function
print(calculate_sum_of_numbers(5))  # Output: 15 (1 + 2 + 3 + 4 + 5)

15

In [ ]:
def is_eligible_for_scholarship(age, gpa):
    if age > 18 and gpa >= 3.5:
        return "Eligible for Scholarship"
    elif age <= 18:
        return "Too young for scholarship"
    else:
        return "GPA is too low for scholarship"

# Testing the function
print(is_eligible_for_scholarship(19, 3.8))  # Output: Eligible for Scholarship
print(is_eligible_for_scholarship(17, 3.8))  # Output: Too young for scholarship
print(is_eligible_for_scholarship(19, 3.2))  # Output: GPA is too low for scholarship

In [ ]:
def name(f="None",l="None"):
  print("First name is:",f, " and last name is :",l)

NameError: name 'f' is not defined

In [ ]:
name("salman","salman")

First name is: salman  and last name is : salman

In [ ]:
#average of numbers- 3
def average(a,b,c):
  print("the average is",(a+b+c)/3)

#10 numbers -- average
#60 numbers

**Scope and Lifetime of Variables**

In [ ]:
global_lang = 'DataScience'

def var_scope_test(): # no execution of code when we define functions
    local_lang = 'Python'
    print(local_lang)

var_scope_test() #function will be executed one its called with its name


# outside of function
print(global_lang)


print(local_lang)

Python
DataScience

NameError: name 'local_lang' is not defined

In [ ]:
# Global variable
global_var = 5

def function1():
    print("Value in 1st function :", global_var)

def function2():
    # Modify global variable
    # function will treat it as a local variable
    global_var = 555
    print("Value in 2nd function :", global_var)


function1()
function2()
print("Current value of global variable :", global_var)

Value in 1st function : 5
Value in 2nd function : 555
Value of global variable : 5

**Positional Arguments**
Positional arguments are arguments that are pass to function in proper positional order

In [ ]:
def sub(a, b):
    print(a - b)

sub(50, 10)

sub(b=10, a=50)

40
40

**Keyword Arguments**
A keyword argument is an argument value, passed to function preceded by the variable name and an equals sign.

In [ ]:
def message(name, surname):
    print("Hello", name, surname)

message(name="John", surname="Wilson")
message(surname="Ault", name="Kelly")

Hello John Wilson
Hello Kelly Ault

In [ ]:
def av(a,b,c):
  return ((a+b+c)/3)


def av1(a,b,c,d):
  return ((a+b+c+d)/4)

 ***args (Positional Arguments)**

 Explain that *args allows a function to accept any number of positional arguments. This is useful when you're unsure how many arguments the function will need.

**Variable-length Arguments**
In Python, sometimes, there is a situation where we need to pass multiple numbers of arguments to the function. Such types of arguments are called variable-length arguments. We can declare a variable-length argument with the * (asterisk) symbol.

def fun(*var):
    function body

In [ ]:
#function- multiple all numbers
def mult(*n):
  product=1
  for i in n:
    product=product*i
  print(product)

In [ ]:
def addi (*n): #n will be multoples element
  sum=0
  for i in n:
    sum=sum+i
  print(sum)

addi(2,5,8,9,4)
addi(5,8,6)
addi()

28
19
0

In [ ]:
def addition(*numbers): #this number variable will work as a tuple
    total = 0
    for num in numbers:
        total = total + num
    print("Sum is:", total)

addition(2,25,2.3,97) #--- number=(2,25,2.3,97)- 2- age, 25- father, 2.3 class, 97- grandfather

Sum is: 126.3

In [ ]:
#Function to add total number send by the user

def addition(*numbers): #this number variable will work as a tuple
    total = 0
    for num in numbers:
        total = total + num
    print("Sum is:", total)


# 0 arguments
addition()  #First call

# 5 arguments
addition(10, 5, 2, 5, 4) #Second Call


# 3 arguments
addition(78, 7, 2.5) #Third call

Sum is: 0
Sum is: 26
Sum is: 87.5

 ****kwargs (Keyword Arguments)**

Introduce **kwargs to handle a variable number of keyword arguments. This is useful when you want to pass parameters by name rather than by position.

In [ ]:
def print_info(**kwargs): # variable, data in stored v1= xyz, v2= abc # key : value--- dict-- .items()
    for key, value in kwargs.items():
        print(key,":", value)

#.item-- key , value

In [ ]:
print_info(name="Alice", age=25)  # Output: name: Alice, age: 25
print_info(name= "mahnoor",age=65,uni="Nust")

name : Alice
age : 25
name : mahnoor
age : 65
uni : Nust

In [ ]:
def print_info1(**kwargs): # variable, data in stored v1= xyz, v2= abc # key : value--- dict-- .items()
    for value in kwargs.values():
        print(value+2)
print_info1(age=25,income=58) #for 2

27
60

In [ ]:
def calculate_product(*names):
    product = 1
    for num in names:
        product *= num
    return product

# Testing the function
print(calculate_product(2, 3, 4))  # Output: 24 (2 * 3 * 4)
print(calculate_product(5, 6))  # Output: 30 (5 * 6)

24
30

In [ ]:
def display_user_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Testing the function
display_user_info(name="John", age=25, city="New York")
# Output:
# name: John
# age: 25
# city: New York

name: John
age: 25
city: New York

In [ ]:
def test(**kwargs):
    for i in kwargs.values():
        print(i+2)

test(age=24,height=182)

26
184

In [ ]:
def summarize_info(*args, **kwargs):
    print("Information:")
    for item in args:
        print(f"Item: {item}")

    print("\nUser Details:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Testing the function
summarize_info("Python", "Machine Learning", name="Alice", age=30, city="Boston")

Information:
Item: Python
Item: Machine Learning

User Details:
name: Alice
age: 30
city: Boston

In [ ]:
# takes input -- check even numbers -- prints the sum of even number
def sum_even_numbers(*arg):
    even_sum = 0
    for num in arg:
        if num % 2 == 0:
            even_sum += num
        else:
          continue
    return even_sum
d=sum_even_numbers(1,2,3,4,5,6,7,8,9)
e=sum_even_numbers(2,4,6,8,12)
print(d)
print(e)

20
32

Key Points:

*args collects extra positional arguments into a tuple, and **kwargs collects extra keyword arguments into a dictionary.

You can combine both in a function, but *args must come before **kwargs.

**Python Anonymous/Lambda Function**

Introduce lambda functions as a shorthand for defining small, anonymous functions. They're especially useful for short operations that don't require a full function definition.

lambda: argument_list:expression


Lambda functions are primarily used for short, single-expression operations, particularly within higher-order functions like map, filter, and sorted. They are also useful for creating "throwaway" functions when a full function definition is not necessary.


Here's a more detailed explanation:

Anonymous functions:


Lambda functions are anonymous, meaning they don't have a name like regular functions defined with def.

Single expression:
They can only contain a single expression, which is evaluated and returned.

Higher-order functions:
They are often used with higher-order functions like map (to apply a function to each item in an iterable), filter (to select items based on a condition), and sorted (to sort items based on a specific key).

Readability:
Lambda functions can improve code readability when used appropriately for short, simple operations, keeping the code concise and focused.




Example:
x = lambda a : a + 10 defines a lambda function that adds 10 to its input

In [ ]:
def addd (a,b):
  return (a+b)

lambda : a,b,c: a+b+c

 #how many inputs lambda can have? a-10 , b-20, c- unlimited

#for x in a:
#  print(x+3)
#  print("i am happy")

In [ ]:
# Lambda to add two numbers
add = lambda x, y,z,w: x + y+z+w
print(add(3, 4,9,9))  # Output: 7
# subtracting 4 numbers after taking inputs from users

25

In [ ]:
# Example 1: Program for even numbers without lambda function

def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
            even_list.append(n)
    return even_list

num_list = [10, 5, 12, 78, 6, 1, 7, 9]
ans = even_numbers(num_list)
print("Even numbers are:", ans)

Even numbers are: [10, 12, 78, 6]

In [ ]:
#Example 2: Program for even number with a lambda function

list_1 = [10, 5, 12, 78, 6, 1, 7, 9]

even_nos = list(filter(lambda x: x % 2 == 0, list_1))
list
set
dict
tuple

print("Even numbers are: ", even_nos)

'''
filter() function in Python

In Python, the filter() function is used to return the filtered value. We use this function to filter values based on some conditions.

Syntax of filter() function:

filter(funtion, sequence)

where,

    function – Function argument is responsible for performing condition checking.
    sequence – Sequence argument can be anything like list, tuple, string
    '''

Even numbers are:  [10, 12, 78, 6]

'\nfilter() function in Python\n\nIn Python, the filter() function is used to return the filtered value. We use this function to filter values based on some conditions.\n\nSyntax of filter() function:\n\nfilter(funtion, sequence)\n\nwhere,\n\n    function – Function argument is responsible for performing condition checking.\n    sequence – Sequence argument can be anything like list, tuple, string\n    '

In [ ]:
# Lambda to add two numbers
add = lambda x, y: x + y
print(add(3, 4))  # Output: 7

# Lambda to multiply two numbers
multiply = lambda x, y: x * y
print(multiply(2, 5))  # Output: 10

7
10

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Using lambda to square each number
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Using lambda to filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Testing the function
print(factorial(5))  # Output: 120 (5 * 4 * 3 * 2 * 1)
print(factorial(3))  # Output: 6 (3 * 2 * 1)

120
6

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):  # Check divisibility up to square root of num
        if num % i == 0:
            return False
    return True

# Testing the function
print(is_prime(11))  # Output: True
print(is_prime(10))  # Output: False

In [ ]:
def find_common_elements(list1, list2):
    common_elements = []
    for element in list1:
        if element in list2:
            common_elements.append(element)
    return common_elements

# Testing the function
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]
print(find_common_elements(list1, list2))  # Output: [4, 5]

[4, 5]

In [ ]:
# Sorting a list of tuples based on the second element (age)
people = [('Alice', 25), ('lob', 30), ('Charlie', 20)]

# Lambda function to sort by age (second element)
sorted_people = sorted(people, key=lambda person: person[1])
print(sorted_people)  # Output: [('Charlie', 20), ('Alice', 25), ('Bob', 30)]

[('Charlie', 20), ('Alice', 25), ('lob', 30)]

In [ ]:
people = [('Alice', 25), ('lob', 30), ('Charlie', 20)]
for person in people:
  print(person[1])

25
30
20

In [ ]:
a=[5,8,6,2,3,1,9]
sorted(a)

[1, 2, 3, 5, 6, 8, 9]

In [ ]:
# Sorting a list of tuples by the second element
data = [(1, 'apple'), (2, 'orange'), (3, 'banana')]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)  # Output: [(1, 'apple'), (3, 'banana'), (2, 'orange')]

[(1, 'apple'), (3, 'banana'), (2, 'orange')]

In [ ]:
def count_even_numbers(numbers):
    count = 0
    for num in numbers:
        if num % 2 == 0:
            count += 1
    return count

# Testing the function
numbers = [1, 2, 3, 4, 5, 6]
print(count_even_numbers(numbers))  # Output: 3

3

**Practice qs**
Write a function sum_all_numbers(*args) that takes a variable number of arguments and returns the sum of all the numbers. If no arguments are passed, return 0

In [ ]:
def sum_all_numbers(*args):
    return sum(args) if args else 0

Write a function calculate_average_age(**kwargs) that accepts a variable number of keyword arguments representing people's names and ages, and returns the average age of all the people.

In [ ]:
def calculate_average_age(**kwargs):
    return sum(kwargs.values()) / len(kwargs) if kwargs else 0

In [ ]:
def test_kwargs(**kwargs):

         return kwargs.get('key', 'Not found')

print(test_kwargs(key='value'))

value